.container {
  display: flex;
  background: lightgray;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.app-video-section {
  width: 100%;
  max-width: 1000px;
  position: relative;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container:fullscreen > .app-video-section {
  max-width: none;
}

.app-video-section > video {
  width: 100%;
  margin-bottom: -4px;
}

/* Control Bar */
.control-section {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 80px;
}
.control-section .controls {
  height: 50px;
  position: absolute;
  bottom: 0;
  width: 100%;
  transform: translateY(100%);
  transition: all 0.2s;
  background-color: black;

  /* flex */
  display: flex;
  align-items: center;
  padding: 0 20px;
}
.control-section .controls > div {
  color: white;
  cursor: pointer;
  padding: 5px 8px;
  border: 1px solid white;
}
.control-section:hover .controls {
  transform: translateY(0);
}

/* Decision Box */
.decision-box {
  display: flex;
  position: absolute;
  bottom: 0;
  width: 100%;
  flex-wrap: wrap;
  background-color: black;
  /* background: rgba(0, 0, 0, 0.8); */
  /* transform: translateY(0); */
  transition: all 0.2s;
  justify-content: space-evenly;
  align-items: center;

  /* config */
  height: 120px;
}

/* OPTION */
.decision-box > .option {
  color: white;
  visibility: hidden;

  /* config */
  font-size: 22px;
  font-family: Arial;
  text-transform: uppercase;
}

/* visible */
.decision-box > .visible {
  visibility: visible;
}

/* selectable */
.decision-box > .selectable {
  color: grey;
  cursor: pointer;
}
.decision-box > .selectable:hover {
  color: white;
}
.decision-box .underline {
  height: 2px;
  margin-top: 3px;
}
.decision-box > .selectable:hover > .effect {
  background-image: radial-gradient(white, black);
}

/* Loading Bar */
.decision-box .loading-bar {
  position: absolute;
  height: 4px;
  top: 0;
  left: 0;
  width: 100%;
  background: black;

  display: flex;
  justify-content: center;
}
.decision-box .loading-bar > div {
  height: 100%;
  background-color: white;
}
