.container {
  display: flex;
  background: #ccc;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.app-video-section {
  width: 100%;
  max-width: 1000px;
  position: relative;
  overflow: hidden;
}
